/**
 * Color palette
 * Same colors as OOUI
 */
@bg: #fff;
@text: #202122;
@border: #a2a9b1;
@background: #f8f9fa;
@redlink: #a55858;

/**
 * Dark mode
 * Same colors as Google's dark mode
 */
@dark-bg: #202122;
@dark-text: #bdc1c6;
@dark-border: #3c4043;
@dark-background: #303134;
@dark-link: #8ab4f8;

/**
 * Break points
 */
@small: 600px;
@medium: 1016px;
@large: 1500px;

/**
 * Site-wide elements
 */
body {
	background: @bg;
	color: @text;
	font-family: Arial;
	font-size: 14px;
	height: 100%;
	margin: 0;
	padding: 0;
	position: static;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	page-break-after: avoid;
	margin: 1em 0 .5em 0;
	overflow: hidden;
	scroll-padding-top: 80px;
}
h1 {
	page-break-before: always;
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
h4, h5, h6 {
	font-size: 1em;
}
fieldset {
	border: 1px solid @border;
	margin: 1em 0;
}
img {
	page-break-inside: avoid;
}
pre {
	overflow: hidden;
	white-space: pre-wrap;
}
sup {
	line-height: 1em;
}
tr {
	page-break-inside: avoid;
}
hr {
	border: 0;
	border-top: 1px solid @border;
}
code, tt {
	background: #f8f9fa;
	border: 1px solid #a2a9b1;
	border-radius: 3px;
	padding: 0 .2em;
}
dt {
	font-weight: bold;
}

/**
 * Header
 */
#poncho-header-wrapper {
	background: @background;
	border-bottom: 1px solid @border;
	box-shadow: 0 0 2px @border;
	box-sizing: border-box;
	padding: .5em;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 8;
}
#poncho-header {
	background: inherit;
}

/**
 * Logo
 */
#poncho-logo-wrapper {
	float: left;
	margin: 0 .5em;
}
#poncho-logo {
	color: inherit;
	display: table;
	text-decoration: none;
	img {
		display: block;
	}
	span {
		display: table-cell;
		padding-left: .5em;
		vertical-align: middle;
	}
}
#poncho-wordmark {
	font-size: 1.5em;
}

/**
 * Search form
 */
#poncho-search-form {
	box-sizing: border-box;
	margin: auto;
	overflow: hidden;
	padding: .5em;
	min-width: 200px;
	max-width: 600px;
}
#poncho-search-suggestions {
	display: none;
}
@media ( max-width: @small ) {
	#poncho-search-form {
		width: 100%;
	}
}

/**
 * Menus
 */
.poncho-menu {
	background: inherit;
	display: inline-block;
	position: relative;
	z-index: 1;
	&:hover .poncho-menu-icon,
	&.active .poncho-menu-icon {
		filter: brightness(.9);
	}
	&:hover .poncho-menu-list {
		display: block;
	}
}
.poncho-menu-icon {
	background-color: inherit;
	border-radius: 50%;
	opacity: .5;
	padding: .5em;
	vertical-align: middle;
}
.poncho-menu-list {
	background: inherit;
	border: 1px solid @border;
	box-shadow: -1px 1px 2px @border;
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	a, .text {
		color: inherit;
		cursor: pointer;
		display: block;
		margin: 0;
		padding: 1em;
		text-decoration: none;
	}
	li:hover {
		background: inherit;
		filter: brightness(.95);
	}
}
#poncho-navigation-wrapper {
	background: inherit;
	float: left;
}
#poncho-right-menus-wrapper {
	background: inherit;
	float: right;
}
#poncho-languages-menu,
#poncho-notifications-menu,
#poncho-user-menu,
#poncho-more-menu {
	.poncho-menu-list {
		right: 0;
		text-align: right;
	}
}
#poncho-more-menu {
	ul {
		background: @background;
	}
	a {
		padding: .5em;
	}
}

/**
 * Content actions
 */
#poncho-content-actions {
	float: right;
	.oo-ui-buttonElement-button {
		border-radius: 50%;
		position: relative;
	}
	& > span {
		line-height: 2.5em;
	}
	& > .oo-ui-buttonElement .oo-ui-buttonElement-button:hover:after {
		background: @border;
		border-radius: 2px;
		color: white;
		content: attr( title );
		line-height: 1em;
		opacity: .8;
		padding: .5em;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
	}
}
#poncho-pause-reading-button {
	display: none;
}
// Add separator between content actions and tools
#poncho-more-menu #t-whatlinkshere {
	border-top: 1px solid @border;
}

/**
 * Indicators
 */
.mw-indicators {
	float: right;
	margin-bottom: 1em;
	.mw-indicator {
		display: inline-block;
		margin-right: .5em;
		padding: 6px;
	}
}

/**
 * Title
 */
#firstHeading {
	page-break-before: avoid;
	.poncho-title-dash {
		margin: 0 .5em;
	}
	.poncho-title-colon {
		margin-right: .5em;
	}
}
@media ( max-width: @small ) {
	#firstHeading {
		clear: both;
	}
}
#siteSub {
	display: none;
	font-style: italic;
}
#contentSub {
	font-size: small;
	margin: 1em 0;
	.subpages {
		display: none;
	}
}
#contentSub2 {
	font-size: small;
	margin: 1em 0;
}

/**
 * Content
 */
#poncho-content-wrapper {
	padding: 1em;
}
#poncho-content {
	margin: 1em auto;
	max-width: @medium;
}
#content {
	clear: both;
	line-height: 1.5;
	margin: 2em 0;
	width: 100%;
}
.mw-body-content {
	ol,
	ul {
		margin: 0 0 0 2em;
		padding: 0;
	}
	pre {
		background: @background;
		border: 1px solid @border;
		padding: 1em;
	}
}

/**
 * Table of contents
 */
#toc {
	box-sizing: border-box;
	padding: 1em;
	position: fixed;
	top: 80px;
	left: 0;
	width: 250px;
	.toctitle {
		display: none;
	}
	.tocnumber {
		display: none;
	}
	.toctext:hover {
		text-decoration: underline;
	}
	a:hover {
		text-decoration: none;
	}
	ul {
		margin: 0;
	}
	ul ul {
		margin-left: 1em;
	}
	li {
		list-style: none;
	}
}
@media ( max-width: @large ) {
	#toc {
		background: @background;
		border: 1px solid @border;
		display: table;
		margin: 1em 0;
		position: static;
		width: auto;
	}
}
// Hide it per useless
#filetoc {
	display: none;
}

/**
 * Footer
 */
#poncho-footer-wrapper {
	margin: 80px auto;
	padding: 1em;
}
#poncho-footer {
	border-top: 1px solid @border;
	box-sizing: border-box;
	clear: both;
	margin: 1em auto;
	text-align: center;
	padding: 1em 0;
	max-width: @medium;
	div {
		margin: 1em 0;
	}
	a {
		white-space: nowrap;
	}
}

/**
 * Wikitables
 */
.wikitable {
	background: @background;
	border-collapse: collapse;
	margin: 1em 0;
	th,
	td {
		border: 1px solid @border;
		padding: .2em .5em;
	}
	.thumb {
		background: transparent;
		border: none;
		margin: 0;
	}
}

/**
 * Misc
 */
#wpTextbox1 {
	box-sizing: border-box;
}
.new,
.new a {
	color: @redlink;
}
.image img {
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}
.error {
	color: @redlink;
}
.center {
	text-align: center;
	.image img {
		margin: 0 auto;
	}
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}
.selflink,
.selflink:hover {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}
.external {
	background: url( 'images/link.png' ) no-repeat center right;
	padding-right: 1em;
	word-break: break-word;
}
.plainlinks a {
	background: none;
	padding: 0;
}
.patrollink {
	margin: 1em 0;
}
.searchresults {
	margin: 1em 0;
}
.mw-headline {
	scroll-margin-top: 80px;
}
.mw-editsection {
	display: none;
	font-size: small;
	font-weight: normal;
	a {
		margin-left: 1em;
	}
	.mw-editsection-divider,
	.mw-editsection-bracket {
		display: none;
	}
}
h2, h3, h4, h5, h6 {
	&:hover .mw-editsection {
		display: inline;
	}
}
.mw-empty-elt {
	display: none;
}
.printfooter {
	display: none;
}

/**
 * OOUI overrides
 * !important is often necessary because OOUI loads via JavaScript
 */
.oo-ui-dialog,
.oo-ui-selectWidget {
	z-index: 9 !important;
}
.mw-changeslist-legend {
	background: @background !important;
	border-color: @border !important;
}

/**
 * Thumbnails
 */
.thumb {
	background: @background;
	border: 1px solid @border;
	page-break-inside: avoid;
	.thumbinner {
		margin: 1em;
	}
	.thumbimage {
		vertical-align: middle;
	}
	.thumbcaption {
		margin-top: 1em;
		font-size: small;
	}
}
.tleft {
	clear: left;
	float: left;
	margin: 0 1em 1em 0;
}
.tright {
	clear: right;
	float: right;
	margin: 0 0 1em 1em;
}
.tnone {
	display: inline-block;
	margin: 1em 0;
	vertical-align: top;
}
@media ( max-width: @small ) {
	.thumb {
		background: none;
		border: none;
		.thumbinner {
			margin: auto;
		}
	}
	.thumb.tleft,
	.thumb.tright {
		float: none;
		margin: 1em 0;
	}
	.thumb.tnone {
		display: block;
	}
}

/**
 * Galleries
 */
#mw-content-text .gallery {
	margin: 1em 0;
	.thumb {
		background: @background;
		border-color: @border;
		margin: 0 0 .5em 0;
	}
	.gallerytext {
		font-size: small;
		margin: .5em;
		padding: 0;
		p {
			margin: 0;
		}
	}
	.mw-gallery-slideshow-img-container img {
		margin: auto;
	}
}

/**
 * Special:RecentChanges
 */
.mw-changeslist-line {
	margin-left: 0 !important;
}
.mw-changeslist-line td {
	min-width: 30px;
}
.mw-collapsible-toggle {
	margin-left: 1em;
}
.mw-collapsible-bracket {
	display: none;
}

/**
 * Categories
 */
#catlinks {
	clear: both;
	margin: 1em 0;
	> div {
		display: inline;
		font-size: 0;
	}
	ul {
		display: inline;
		font-size: 14px;
		padding: 0;
	}
	li {
		display: inline-block;
		margin: 0 .5em .5em 0;
	}
	li a {
		background: @background;
		border: 1px solid @border;
		border-radius: 20px;
		color: inherit;
		display: inline-block;
		padding: .3em .7em;
		text-decoration: none;
	}
	li a.new {
		color: @redlink;
	}
	.mw-hidden-catlinks:not(.mw-hidden-cats-user-shown) {
		display: none;
	}
}

/**
 * Share dialog
 */
#poncho-share-overlay {
	background: black;
	opacity: .5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}
#poncho-share-dialog {
	background: @background;
	border: 1px solid @border;
	padding: 1em;
	position: fixed;
	top: 35%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	z-index: 10;
	a {
		color: inherit;
		cursor: pointer;
		display: inline-block;
		margin: 1em;
		text-decoration: none;
		width: 60px;
	}
	img {
		width: 50px;
		height: 50px;
	}
	#poncho-share-close {
		cursor: pointer;
		float: right;
		font-size: 2em;
		line-height: .9em;
	}
	#poncho-share-title {
		margin: 1em;
	}
	#poncho-share-buttons {
		margin: 2em;
	}
}

/**
 * Extensions
 */

// Extension:SemanticMediaWiki
#mw-indicator-smw-entity-examiner {
	display: none;
}

// Extension:VisualEditor
.ve-ui-surface {
	ol,
	ul {
		margin: 0 0 0 2em;
		padding: 0;
	}
	pre {
		background: @background;
		border: 1px solid @border;
		padding: 1em;
	}
}
.ve-ui-toolbar-floating > .oo-ui-toolbar-bar {
	top: 61px !important;
}
.ve-ui-overlay-global {
	z-index: 8 !important;
}

// Extension:Maps
[id^=map] {
	z-index: 0;
}

/**
 * Google Translate
 */
.goog-te-banner-frame {
	display: none;
}
.goog-te-menu-frame {
	top: 80px !important;
	left: 50% !important;
	transform: translate(-50%, 0);
}

/**
 * Embed mode
 */
.poncho-embed-mode {
	#poncho-header-wrapper,
	#poncho-content-actions,
	#poncho-footer-wrapper {
		display: none;
	}
}

/**
 * Dark mode
 */
.poncho-dark-mode {
	background-color: @dark-bg;
	color: @dark-text;

	#poncho-header-wrapper,
	#poncho-more-menu ul,
	#mw-content-text tt,
	#mw-content-text pre,
	#mw-content-text code,
	#mw-content-text .thumb,
	#catlinks li a,
	.wikitable,
	.wikitable th,
	.wikitable td,
	.mw-prefs-buttons {
		background-color: @dark-background;
		border-color: @dark-border;
	}

	@media ( max-width: @large ) {
		#toc {
			background-color: @dark-background;
			border-color: @dark-border;
		}
	}

	a:not(.new) {
		color: @dark-link;
	}

	#poncho-logo {
		filter: invert( .9 );
	}

	.poncho-menu {
		.poncho-menu-icon {
			background-color: transparent;
			filter: invert( .9 );
		}
		li:hover {
			filter: brightness( 1.1 );
		}
		a {
			color: @dark-text;
		}
	}

	/**
	 * OOUI overrides
	 * !important is generally necessary because most of OOUI loads via JavaScript
	 */
	.mw-ui-button,
	.oo-ui-window-content,
	.oo-ui-inputWidget-input,
	.oo-ui-selectFileWidget,
	.oo-ui-buttonElement-button,
	.oo-ui-tagMultiselectWidget-handle {
		background-color: @dark-background !important;
		border-color: @dark-border !important;
		color: @dark-text !important;
	}
	.oo-ui-buttonElement-frameless .oo-ui-buttonElement-button {
		background-color: transparent !important;
		border-color: transparent !important;
	}
	.oo-ui-tabSelectWidget-framed,
	.oo-ui-panelLayout-framed {
		background-color: @dark-background;
		border-color: @dark-border;
	}
	.oo-ui-icon-search,
	#poncho-content-actions .oo-ui-iconElement-icon {
		filter: invert( .9 ) !important;
	}
	.mw-changeslist-legend {
		background-color: @dark-background !important;
		border-color: @dark-border !important;
	}

	/**
	 * Extensions
	 */
	// Extension:WikiEditor
	.wikiEditor-ui {
		color: initial;
	}
	// Extension:InputBox
	.mw-ui-input {
		background-color: @dark-background;
		border-color: @dark-border;
		color: @dark-text;
	}
	// Extension:UploadWizard
	#mwe-upwiz-steps,
	#mwe-upwiz-steps li {
		background-color: @dark-background !important;
		border-color: @dark-border !important;
		color: @dark-text !important;
	}
}

/**
 * Read mode
 */
.poncho-read-mode {
	font-size: 120%;
	transition: font 0.3s ease;
	#poncho-logo-wrapper,
	#poncho-search-form-wrapper,
	#poncho-navigation-menu,
	#poncho-languages-menu,
	#poncho-notifications-menu,
	#poncho-footer-wrapper,
	#poncho-content-actions,
	#contentSub,
	#contentSub2,
	#siteNotice,
	#catlinks,
	.usermessage,
	.mw-indicators,
	.mw-editsection {
		display: none;
	}
	#poncho-header-wrapper {
		background-color: transparent;
		border: none;
		box-shadow: none;
	}
}

/**
 * Print mode
 */
@media print {
	#poncho-header-wrapper,
	#poncho-footer-wrapper,
	#poncho-content-actions,
	#contentSub,
	#contentSub2,
	#siteNotice,
	#catlinks,
	.patrollink,
	.usermessage,
	.mw-indicators,
	.mw-editsection,
	.noprint {
		display: none !important; // Override more specific rules
	}
	a {
		color: inherit !important; // Override more specific rules
		text-decoration: underline;
	}
	.toc,
	.thumb,
	.wikitable {
		background-color: transparent;
	}
}