/**
 * Site-wide elements
 */
body {
	color: #222;
	font-family: Arial;
	font-size: 14px;
	height: 100%;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.new {
	color: #a55858;
}
h1 {
	font-size: 2em;
	margin: 1em 0 .5em 0;
	overflow: hidden;
}
h2 {
	font-size: 1.6em;
	margin: 1em 0 .5em 0;
	overflow: hidden;
}
h3 {
	font-size: 1.2em;
	margin: 1em 0 .5em 0;
	overflow: hidden;
}
h4, h5, h6 {
	font-size: 1em;
	margin: 1em 0 .5em 0;
	overflow: hidden;
}
pre {
	overflow: hidden;
	white-space: pre-wrap;
}
fieldset {
	border: 1px solid #aaa;
	margin: 1em 0;
}
sup {
	line-height: 1em;
}

/**
 * Header
 */
#poncho-header-wrapper {
	background: #f9f9f9;
	border-bottom: 1px solid #aaa;
	padding: .5em 0;
}
#poncho-header {
	background: inherit;
	margin: auto;
	max-width: 1000px;
}

/**
 * Logo
 */
#poncho-logo-wrapper {
	float: left;
}
#poncho-logo {
	background-size: contain;
	background-repeat: no-repeat;
	color: inherit;
	display: inline-block;
	font-size: 1.5em;
	height: 1.4em;
	line-height: 1.5;
	padding: .33em .33em .33em 2.5em;
	text-decoration: none;
}

/**
 * Search form
 */
#poncho-search-form-wrapper {
	overflow: hidden;
	padding: 0 3em;
}
#poncho-search-form {
	margin: auto;
	padding: .5em;
	max-width: 600px;
}

/**
 * Header menus
 */
#poncho-menu-wrapper {
	background: inherit;
	float: right;
}
#poncho-menu {
	background: inherit;
	display: inline-block;
	height: 46px;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	vertical-align: middle;
}
#poncho-menu li {
	background: inherit;
}
.poncho-menu-item {
	background: inherit;
	display: inline-block;
	height: 46px;
	position: relative;
	z-index: 1;
}
.poncho-menu-icon {
	background: inherit;
	display: inline-block;
	opacity: .4;
	margin: .5em;
	width: 32px;
	height: 32px;
}
.poncho-menu-list {
	background: inherit;
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 46px;
	right: 0;
	text-align: right;
	z-index: 999;
}
.poncho-menu-item.active,
.poncho-menu-item:hover {
	filter: brightness(.95);
}
.poncho-menu-item a,
.poncho-menu-item .text {
	background: inherit;
	color: inherit;
	cursor: default;
	display: block;
	margin: 0;
	padding: 1em;
	text-decoration: none;
}
.poncho-menu-item a:hover,
.poncho-menu-item .active {
	filter: brightness(.95);
}
.poncho-menu-item:hover .poncho-menu-list {
	display: block;
}
#poncho-bell-icon + .poncho-menu-list {
	white-space: normal;
	width: 200px;
}
#poncho-menu-icon {
	background: url('images/menu.png') no-repeat center;
}
#poncho-lens-icon {
	background: url('images/lens.png') no-repeat center;
}
#poncho-user-icon {
	background: url('images/user.png') no-repeat center;
}
#poncho-bell-icon {
	background: url('images/bell.png') no-repeat center;
}
.poncho-submenu-item {
	background: inherit;
	position: relative;
}
.poncho-submenu-item:hover {
	filter: brightness(.95);
}
.poncho-submenu-item:hover .poncho-submenu {
	display: block;
}
.poncho-submenu-span {
	background: url('images/triangle.png') no-repeat left;
	cursor: default;
	display: block;
	margin: 0 1em;
	padding: 1em 0;
}
.poncho-submenu {
	background: inherit;
	display: none;
	list-style: none;
	padding: 0;
	position: absolute;
	top: 0;
	right: 100%;
}

/**
 * Mobile header
 */
@media (max-width: 640px) {
	#poncho-logo-wrapper {
		margin-left: .5em;
	}
	#poncho-search-form-wrapper {
		padding: 0;
		width: 100%;
	}
}

/**
 * Namespaces
 */
#poncho-namespaces {
	float: right;
	padding: 0;
}
#poncho-namespaces li {
	display: inline;
	margin-right: 1em;
}
#poncho-namespaces a {
	color: #aaa;
}
#poncho-namespaces a:hover,
#poncho-namespaces .selected a {
	border-bottom: 4px solid #aaa;
	padding: .5em 0;
	text-decoration: initial;
}

/**
 * Actions
 */
#poncho-actions {
	display: inline-block;
	padding: 0;
	white-space: nowrap;
}
#poncho-actions li {
	display: inline;
	margin-right: 1em;
}
#poncho-actions a {
	text-transform: lowercase;
}
#poncho-actions .selected a {
	text-decoration: underline;
}

/**
 * Title, etc.
 */
.mw-indicator {
	float: right;
	margin-top: 1em;
}
.mw-indicator a {
	background: none !important;
	line-height: inherit !important;
	padding-left: 0 !important;
}
#siteSub {
	display: none;
	font-style: italic;
}
#contentSub,
#contentSub2 {
	font-size: small;
	margin-bottom: 1em;
}

/**
 * Content
 */
#poncho-content-wrapper {
	margin: 1em auto;
	padding: 1em;
	padding-bottom: 5em;
	max-width: 1000px;
}
#content {
	line-height: 1.5;
	margin: 2em 0;
	overflow: hidden;
}
#mw-content-text ol,
.ve-ui-surface ol {
	margin: 0 0 0 2em;
	padding: 0;
}
#mw-content-text ul,
.ve-ui-surface ul {
	margin: 0 0 0 2em;
	padding: 0;
}
#mw-content-text pre,
.ve-ui-surface pre {
	background: #f9f9f9;
	border: 1px solid #aaa;
	padding: 1em;
}
#content .printfooter {
	display: none;
}

/**
 * Wikitables
 */
.wikitable {
	background: #f9f9f9;
	border-collapse: collapse;
}
.wikitable th,
.wikitable td {
	border: 1px solid #aaa;
	padding: 1em;
}

/**
 * Misc
 */
.error {
	color: red;
}
.center {
	text-align: center;
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}
.selflink {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}
.external {
	background: url( 'images/external.png' ) no-repeat center right;
	padding-right: 1em;
	word-break: break-all;
}
.plainlinks a {
	background: none;
	padding: 0;
}
.mw-editsection {
	font-size: small;
	font-weight: normal;
}
.mw-editsection a {
	margin-left: 1em;
}
.mw-editsection-divider,
.mw-editsection-bracket {
	display: none;
}

/**
 * Table of contents
 */
#toc {
	background: #f9f9f9;
	border: 1px solid #aaa;
	display: inline-block;
	padding: 1em;
}
#toc .toctoggle {
	display: none; /* Hide it because it cannot be styled like the Edit section button */
}
#toc .tocnumber {
	color: black;
}
#toc .toctext:hover {
	text-decoration: underline;
}
#toc a:hover {
	text-decoration: none;
}
#toc #mw-toc-heading {
	display: inline;
}
#toc ul {
	margin: 0;
}
#toc ul ul {
	margin-left: 1em;
}
#toc li {
	list-style: none;
}
#filetoc {
	display: none; /* Hide it per useless */
}

/**
 * User preferences
 */
#preftoc {
	margin: 0 !important;
	padding: 0;
}
#preftoc li {
	border: 1px solid #ddd;
	border-bottom: none;
	display: inline;
	margin-right: .5em;
	padding: 1em;
}
#preftoc a:visited {
	color: #00e;
}
#preftoc li.selected a {
	color: inherit;
}

/**
 * Thumbnails
 */
.thumb {
	background: #f9f9f9;
	border: 1px solid #aaa;
}
.thumb.tright {
	clear: right;
	float: right;
	margin: 0 0 1em 1em;
}
.thumb.tleft {
	clear: left;
	float: left;
	margin: 0 1em 1em 0;
}
.thumb.tnone {
	display: inline-block;
}
.thumb .thumbinner {
	margin: 1em;
}
.thumb .thumbimage {
	display: block;
}
.thumb .thumbcaption {
	margin-top: 1em;
	font-size: small;
}
.thumb.embedvideo {
	background: none;
	border: none;
}

/**
 * Galleries
 * 
 * Galleries come with their own styling,
 * these are overrides to make the galleries fit with the overall style of the skin
 */
.gallery {
	margin: 0 !important;
}
.gallerytext {
	font-size: small;
	margin: .5em;
	padding: 0;
}
.gallerytext p {
	margin: 0;
}

/**
 * Collapse button
 *
 * This button is prominent in Special:RecentChanges and Special:Watchlist
 */
.mw-collapsible-toggle {
	margin-left: 1em;
}
.mw-collapsible-bracket {
	display: none;
}

/**
 * Categories
 */
#catlinks {
	border-top: 1px solid #aaa;
	clear: both;
	margin-top: 2em;
	padding-top: 1em;
}
#catlinks ul {
	display: inline;
	padding: 0;
}
#catlinks li {
	display: inline;
	margin-left: 1em;
}

/**
 * Footer
 */
#poncho-footer-wrapper {
	background: #f9f9f9;
	border-top: 1px solid #aaa;
	clear: both;
	padding: 1em;
}
#poncho-footer {
	margin: auto;
	max-width: 1000px;
	overflow: hidden;
}
#poncho-footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#poncho-footer li {
	line-height: 1.5;
	margin: .7em 0;
}
#poncho-footer .mw-footer {
	max-width: 640px;
}
#poncho-footer .footer-places {
	list-style: none;
	padding: 0;
}
#poncho-footer .footer-icons {
	display: none;
}
#poncho-footer-tools {
	float: right;
	text-align: right;
}
#poncho-footer .external {
	background: none;
	padding: 0;
}

/**
 * Search results
 */
.searchresults {
	margin: 1em 0;
}

/**
 * Printable version
 */
@media print {
	#poncho-header-wrapper,
	#poncho-footer-wrapper,
	#poncho-namespaces,
	#poncho-actions,
	#toc,
	.mw-editsection {
		display: none;
	}
}