/**
 * Color palette (same as MediaWiki OOUI)
 *
 * Black: #202122
 * Dark grey: #a2a9b1
 * Light grey: #f8f9fa
 */

/**
 * Site-wide elements
 */
body {
	color: #202122;
	font-family: Arial;
	font-size: 14px;
	height: 100%;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-size: 2em;
	margin: 1em 0 .5em 0;
	overflow: hidden;
}
h2 {
	font-size: 1.6em;
	margin: 1em 0 .5em 0;
	overflow: hidden;
}
h3 {
	font-size: 1.2em;
	margin: 1em 0 .5em 0;
	overflow: hidden;
}
h4, h5, h6 {
	font-size: 1em;
	margin: 1em 0 .5em 0;
	overflow: hidden;
}
pre {
	overflow: hidden;
	white-space: pre-wrap;
}
fieldset {
	border: 1px solid #a2a9b1;
	margin: 1em 0;
}
sup {
	line-height: 1em;
}

/**
 * Header
 */
#poncho-header-wrapper {
	background: #f8f9fa;
	border-bottom: 1px solid #a2a9b1;
	padding: .5em 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 8;
}
#poncho-header {
	background: inherit;
	margin: auto;
	max-width: 1024px;
}

/**
 * Logo
 */
#poncho-logo-wrapper {
	float: left;
}
#poncho-logo {
	background-size: contain;
	background-repeat: no-repeat;
	color: inherit;
	display: inline-block;
	font-size: 1.5em;
	height: 1.4em;
	line-height: 1.5;
	padding: .33em .33em .33em 2.5em;
	text-decoration: none;
}

/**
 * Search form
 */
#poncho-search-form-wrapper {
	overflow: hidden;
	padding: 0 3em;
}
#poncho-search-form {
	margin: auto;
	padding: .5em;
	max-width: 600px;
}
#poncho-search-suggestions {
	display: none;
}

/**
 * Header menus
 */
#poncho-menu-wrapper {
	background: inherit;
	float: right;
}
#poncho-menu {
	background: inherit;
	display: inline-block;
	height: 46px;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	vertical-align: middle;
}
#poncho-menu li {
	background: inherit;
}
#poncho-menu li:hover {
	filter: brightness(.95);
}
.poncho-menu-item {
	background: inherit;
	display: inline-block;
	height: 46px;
	position: relative;
	z-index: 999;
}
.poncho-menu-icon {
	background: inherit;
	display: inline-block;
	opacity: .4;
	padding: .5em;
	width: 32px;
	height: 32px;
}
.poncho-menu-list {
	background: inherit;
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 46px;
	right: 0;
	text-align: right;
}
.poncho-menu-item a,
.poncho-menu-item .text {
	background: inherit;
	color: inherit;
	cursor: default;
	display: block;
	margin: 0;
	padding: 1em;
	text-decoration: none;
}
.poncho-menu-item:hover .poncho-menu-list {
	display: block;
}
.poncho-menu-item.active #poncho-bell-icon {
	filter: brightness(.95);
	border-radius: 50%;
}
#poncho-bell-icon + .poncho-menu-list {
	white-space: normal;
	width: 400px;
}
#poncho-menu-icon {
	background: url('images/menu.png') no-repeat center;
}
#poncho-lens-icon {
	background: url('images/lens.png') no-repeat center;
}
#poncho-edit-icon {
	background: url('images/edit.png') no-repeat center;
}
#poncho-user-icon {
	background: url('images/user.png') no-repeat center;
}
#poncho-tool-icon {
	background: url('images/tool.png') no-repeat center;
}
#poncho-bell-icon {
	background: url('images/bell.png') no-repeat center;
}
.poncho-submenu-item {
	background: inherit;
	position: relative;
}
.poncho-submenu-item:hover {
	filter: brightness(.95);
}
.poncho-submenu-item:hover .poncho-submenu {
	display: block;
}
.poncho-submenu-span {
	background: url('images/triangle.png') no-repeat left;
	cursor: default;
	display: block;
	margin: 0 1em;
	padding: 1em 0;
}
.poncho-submenu {
	background: inherit;
	display: none;
	list-style: none;
	padding: 0;
	position: absolute;
	top: 0;
	right: 100%;
}

/**
 * Edit and Talk buttons
 */
#poncho-buttons {
	float: right;
	margin-bottom: 1em;
}

/**
 * Indicators
 */
.mw-indicators {
	float: right;
	margin-bottom: 1em;
}
.mw-indicator {
	display: inline-block;
	margin-right: .5em;
	padding: 6px;
}

/**
 * Title
 */
#firstHeading .poncho-title-dash {
	margin: 0 .5em;
}
#siteSub {
	display: none;
	font-style: italic;
}
#contentSub {
	font-size: small;
	margin: 1em 0;
}
#contentSub .subpages {
	display: none;
}
#contentSub2 {
	font-size: small;
	margin: 1em 0;
}

/**
 * Content
 */
#poncho-content-wrapper {
	margin: 1em auto;
	margin-top: 5em;
	padding: 1em;
	padding-bottom: 5em;
	max-width: 1024px;
}
#content {
	line-height: 1.5;
	margin: 2em 0;
	width: 100%;
}
#mw-content-text ol,
.ve-ui-surface ol {
	margin: 0 0 0 2em;
	padding: 0;
}
#mw-content-text ul,
.ve-ui-surface ul {
	margin: 0 0 0 2em;
	padding: 0;
}
#mw-content-text pre,
.ve-ui-surface pre {
	background: #f8f9fa;
	border: 1px solid #a2a9b1;
	padding: 1em;
}
#content .printfooter {
	display: none;
}

/**
 * Extension:CodeMirror
 */
.CodeMirror pre {
	background: transparent !important;
	border: none !important;
	padding: 0 !important;
}

/**
 * Extension:VisualEditor
 */
.ve-ui-toolbar-floating > .oo-ui-toolbar-bar {
	top: 61px !important;
}
.ve-ui-overlay-global {
	z-index: 8 !important;
}
.oo-ui-dialog {
	z-index: 8 !important;
}

/**
 * Wikitables
 */
.wikitable {
	background: #f8f9fa;
	border-collapse: collapse;
	margin: 1em 0;
}
.wikitable th,
.wikitable td {
	border: 1px solid #a2a9b1;
	padding: 1em;
}

/**
 * Misc
 */
.new,
.new a {
	color: #a55858;
}
.image img {
	display: block;
}
.error {
	color: red;
}
.center {
	text-align: center;
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}
.selflink {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}
.external {
	background: url( 'images/external.png' ) no-repeat center right;
	padding-right: 1em;
	word-break: break-word;
}
.plainlinks a {
	background: none;
	padding: 0;
}
.patrollink {
	margin: 1em 0;
}
.mw-editsection {
	font-size: small;
	font-weight: normal;
}
.mw-editsection a {
	margin-left: 1em;
}
.mw-editsection-divider,
.mw-editsection-bracket {
	display: none;
}
.searchresults {
	margin: 1em 0;
}
#wpTextbox1 {
	box-sizing: border-box;
}

/**
 * Table of contents
 */
#toc {
	background: #f8f9fa;
	border: 1px solid #a2a9b1;
	display: table;
	margin: 1em 0;
	padding: 1em;
}
#toc .toctoggle {
	display: none; /* Hide it because it cannot be styled like the Edit section button */
}
#toc .tocnumber {
	color: black;
}
#toc .toctext:hover {
	text-decoration: underline;
}
#toc a:hover {
	text-decoration: none;
}
#toc #mw-toc-heading {
	display: inline;
}
#toc ul {
	margin: 0;
}
#toc ul ul {
	margin-left: 1em;
}
#toc li {
	list-style: none;
}
#filetoc {
	display: none; /* Hide it per useless */
}

/**
 * Thumbnails
 */
.thumb {
	background: #f8f9fa;
	border: 1px solid #a2a9b1;
	page-break-inside: avoid;
}
.thumb.tright {
	clear: right;
	float: right;
	margin: 0 0 1em 1em;
}
.thumb.tleft {
	clear: left;
	float: left;
	margin: 0 1em 1em 0;
}
.thumb.tnone {
	display: inline-block;
}
.thumb .thumbinner {
	margin: 1em;
}
.thumb .thumbimage {
	display: block;
}
.thumb .thumbcaption {
	margin-top: 1em;
	font-size: small;
}
.thumb.embedvideo {
	background: none;
	border: none;
}

/**
 * Galleries
 * 
 * Galleries come with their own styling
 * these are overrides to fit them with the overall style of the skin
 */
#mw-content-text .gallery {
	margin: 1em 0;
}
#mw-content-text .gallerytext {
	font-size: small;
	margin: .5em;
	padding: 0;
}
#mw-content-text .gallerytext p {
	margin: 0;
}
#mw-content-text .mw-gallery-slideshow-img-container img {
	margin: auto;
}

/**
 * Collapse button
 *
 * This button is prominent in Special:RecentChanges and Special:Watchlist
 */
.mw-collapsible-toggle {
	margin-left: 1em;
}
.mw-collapsible-bracket {
	display: none;
}

/**
 * Categories
 */
#catlinks.catlinks-allhidden {
	display: none;
}
#catlinks {
	background: #f8f9fa;
	border: 1px solid #a2a9b1;
	clear: both;
	margin-top: 2em;
	padding: 1em;
}
#catlinks ul {
	display: inline;
	padding: 0;
}
#catlinks li {
	display: inline;
	margin-left: 1em;
}

/**
 * Mobile version
 */
@media (max-width: 640px) {
	#poncho-logo-wrapper {
		margin-left: .5em;
	}
	#poncho-search-form-wrapper {
		padding: 0;
		width: 100%;
	}
}

/**
 * Printable version
 */
.printonly {
	display: none;
}
@media print {
	#poncho-header-wrapper,
	#poncho-footer-wrapper,
	#poncho-buttons,
	#toc,
	.mw-indicators,
	.mw-editsection,
	.noprint {
		display: none;
	}
	.printonly {
		display: initial;
	}
}